@font-face {
  font-family: Imported;
  src: url(./shared/fonts//static//WorkSans-SemiBold.ttf);
}

#root {
  font-family: Imported;
}

body {
  margin: 0;
  /* background: #f5f5f5; */
  background-color: #f5f5f7;
  height: 100vh;
  font-family: Imported;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
